@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Updock&display=swap');

$Font-family:'League Spartan', sans-serif;
$Font-family-secondary: 'Roboto', sans-serif;
$Font-family-italic: 'Updock', cursive;
