.container.px-4{
    font-family: $Font-family;
    margin-top: 5%;

        .text-center.py-3{
            color: $violet;
            margin-top: 5%;
            text-align: justify;
                
        }
        
    }

.img-fluid{
    width: 80%;
    display: flex;
    align-items: center;
}