.block-text{
    font-family: $Font-family;
    margin-top: 2%;
        .sub-text{
            @include sub-text (100%, $grey);

            .container.row{
                display: flex;
                flex-direction: row;
                border-color: $fuchsa;
            }
            
        }

}
.container.row{
    margin-left: 8%;
}
.col-md-4{
    width: 33%;
    height: auto;
    display: flex;
    align-content: center;
    .img-fluid{
        width: auto;
    }
}
.card-body{
    font-family: $Font-family;
}